<section class="aside">
    <a href="/" class="header">
        <img src="{{ asset('dist/images/logo.png') }}" height="38" alt="logo" />
        <h3>Без регистрации и СМС</h3>
    </a>

    <aside class="menu">
        {% for category in categories.all() %}
            <nav class="category">
                <h2>{{ category.title }}</h2>
                {% for page in category.pages %}
                    {% if not page.isDeleted %}
                        {% set active = app.request.attributes.get('_route_params').url == page.url %}
                        <a href="/{{ page.url }}" class="{{ active ? 'active' : '' }}">{{ page.title }}</a>
                    {% endif %}
                {% endfor %}
            </nav>
        {% endfor %}
    </aside>
</section>
