{% extends 'layout/master.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block keywords %}{{ page.keywords | join(', ') }}{% endblock %}

{% block body %}
    {# page \App\Domain\Documentation\Documentation #}
    <main itemscope itemtype="https://schema.org/WebPage" class="documentation" data-vm="LayoutViewModel">
        {% include "partials/menu.html.twig" %}

        <section class="container">
            <div class="container-content" data-bind="with: page" data-id="page">
                <article class="container-content-article article">
                    {# menu \App\Domain\Documentation\Category #}
                    {% set menu = page.getCategory() %}
                    {% if menu is not null %}
                            <!--ko if: current-->
                            <div class="breadcrumbs" style="display: none" data-bind="style: {display: 'flex'}">
                                <span class="item" data-bind="text: current().category.title"></span>
                                <span class="item" data-bind="text: current().title"></span>
                            </div>
                            <!--/ko-->
                            <!--ko ifnot: current-->
                            <div class="breadcrumbs">
                                <span class="item">{{ menu.title }}</span>
                                <span class="item">{{ page.title }}</span>
                            </div>
                            <!--/ko-->
                    {% endif %}

                    <!--ko if: current-->
                        <div data-bind="html: current().content"></div>
                    <!--/ko-->
                    <!--ko ifnot: current-->
                        {{ page.content|raw }}
                    <!--/ko-->

                    <footer>
                        Этот сайт сделан по принципу «потому что могу». Если вам
                        что-либо не нравится - просьба присылать PR с исправлениями
                        <a href="https://github.com/SerafimArts/php.quest-docs" target="_blank">сюды</a>.
                        Сами исходники сайта тоже в свободном доступе и
                        <a href="https://github.com/SerafimArts/php.quest" target="_blank">лежат вот тут</a>.
                        <br /><br />
                        Копирайты и прочее принадлежат коллективному бессознательному.
                    </footer>
                </article>

                <!--ko if: anchors().length > 1 -->
                <aside class="container-content-aside">
                    <nav class="container-content-aside-nav" style="display: none" data-bind="foreach: anchors, style: {display: 'block'}">
                        <a href="#" data-bind="attr: { href: anchor }, css: { active: active }">
                            <span data-bind="text: $index().toString().padStart(2, '0') + '.'"></span>
                            <!--ko text: title--><!--/ko-->
                        </a>
                    </nav>
                </aside>
                <!--/ko-->
            </div>
        </section>
    </main>
{% endblock %}
